nav{
  background: #644990;
  height: 80px;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 5%;
}

a.active,a:hover{
  text-decoration: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 5%;
  }
}

@media (max-width: 768px){
  nav {
    display: none;
  }
}
