<router-outlet></router-outlet>

<footer>
  <div class="container">
    <ul class="justify-content-center">
      <li>
        <a href="https://www.facebook.com/being.aanand" class="fa fa-facebook"></a>
      </li>
      <li>
        <a href="https://twitter.com/son_Of_Verma " class="fa fa-twitter"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/anandverma08/" class="fa fa-linkedin"></a>
      </li>
      <li>
        <a href="https://www.youtube.com/channel/UC9vLsDxnUwW5jmb_KGfYkMA?view_as=subscriber" class="fa fa-youtube"></a>
      </li>
      <li>
        <a href="https://www.instagram.com/inebriate_penman/" class="fa fa-instagram"></a>
      </li>

    </ul>
    <div class="small text-center">Disclaimer | Terms of Use and Privacy Notice </div>
  </div>
</footer>
