<div class="container">
    <h1>Rock Paper Scissors</h1>
    <div class="start-button-section">
     <h2>{{ resultLabel }}</h2>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h3>My Score</h3>
        <h5>{{ myScore }}</h5>
      </div>
      <div class="col-sm-6">
        <h3>Computer Score</h3>
        <h5>{{ computerScore }}</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6 smallView">
        <img class="player-image" src="../../../assets/images/{{playerChoiceImage}}.png" alt="">
      </div>
      <div class="col-md-6 col-sm-6 smallView">
        <img class="computer-image" src="../../../assets/images/{{computerChoiceImage}}.png" alt="">
      </div>
    </div>
    <div class="button-section">
      <button class="btn btn-success" (click)="buttonClicked('rock')">Rock</button>
      <button class="btn btn-success" (click)="buttonClicked('paper')">Paper</button>
      <button class="btn btn-success" (click)="buttonClicked('scissors')">Scissors</button>
    </div>


  </div>
